fieldset {
  border: none;
}
#prof_pic_placeholder {

}
#prof_pic_placeholder img {
  width: 100%;
  border-radius: 50%;
}
#prof_pic_file {
  display: flex;
  flex-direction: column;
}
.text_input {
  display: flex;
  flex-direction: column;
}
.text_input input {
  height: 2.5em;
  margin-bottom: 5%;
}
#checkboxes {
  list-style-type: none;
  padding-left: 0;
}
.check {
  margin-bottom: 2%;
}
#additional_input {
  display: flex;
  flex-direction: column;
}
#additional_input input {
  width: 100%;
  height: 5em;
}
#join_input input {
  border: none;
  height: 4em;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #F5005B;
  color: white;
  padding: 5%;
}
@media screen and (min-width: 545px){
  #picture_and_text {
    display: flex;
  }
  #picture_input {
    width: 50%;
  }
  #text_inputs {
    width: 50%;
  }
  #name_and_email {
    margin-bottom: 25%;
  }
  #checkboxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .check {
    width: 50%;
  }
}
@media screen and (min-width: 769px){

  #text_inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  #name_and_email{
    width: 45%;
    /*margin: 0;*/
  }
  #password_and_password {
    width: 45%;
    /*margin: 0;*/
  }
}
